---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title='Tendencia Iquitos Oficial' description='Revista Tendencia, Iquitos, Loreto, Peru, PE, Artistas, Musica, Actor, Actriz, Primicias, Galardones, Reconocimientos, Sorteos.'>
	<main class="h-screen">
		<div class="flex justify-center items-center h-full text-5xl font-bold px-10">Pagina en construcción, se vienen cositas...</div>
	</main>
</Layout>
