---
import Facebook from "./icons/Facebook.astro";
import Youtube from "./icons/Youtube.astro";
import Twitter from "./icons/Twitter.astro";
import Instagram from "./icons/Instagram.astro";
---

<section class="bg-black/95 text-white">
    <div class="border-b border-slate-500">
        <div class="grid grid-cols-1 md:grid-cols-3 justify-between font-bold border-slate-500 max-w-[1400px] m-auto px-5">
            <div class="flex w-full md:border-r border-slate-500 justify-center py-5 md:py-0">
                <a href="#" class="uppercase flex text-2xl self-center">
                    <img src="/public/logo-tnd-blanco.webp" class="h-16">
                </a>
            </div>
            <div class="w-full hidden md:flex border-r border-slate-500 justify-center">
                <a href="#" class="uppercase flex text-2xl p-10" style="word-spacing: 0.5rem;">Dudas y consultas</a>
            </div>
            <div class= "w-full hidden md:flex items-center justify-center">
                <a href="#" class="flex uppercase text-2xl p-10" style="word-spacing: 0.5rem;">Premio Soy Tendencia</a>
            </div>
        </div>
    </div>
    
    <div class="grid md:grid-cols-3 max-w-[1400px] m-auto px-5">
        <div class="w-full md:col-span-2 md:border-r border-slate-500 py-10">
            <h1 class="text-5xl uppercase font-bold max-w-[400px] break-words leading-normal m-auto md:m-0 text-center md:text-left">Estamos para atenderte</h1>

            <div class="md:flex justify-between mt-8">
                <div class="w-full">
                    <a class="text-center md:text-start" href="#">
                        <span class="text-gray-500 flex justify-center md:justify-normal">Central telefónica</span>
                        <h5 class="font-bold tracking-wider text-lg">(+00) 00000000</h5>
                    </a>
                </div>
                <div class="w-full mt-5 md:mt-0">
                    <a class="text-center md:text-start" href="#">
                        <span class="text-gray-500 flex justify-center md:justify-normal">Central telefónica</span>
                        <h5 class="font-bold tracking-wider text-lg">(+00) 00000000</h5>
                    </a>
                </div>
                <div class="w-full mt-5 md:mt-0">
                    <a class="text-center md:text-start" href="#">
                        <span class="text-gray-500 flex justify-center md:justify-normal">Central telefónica</span>
                        <h5 class="font-bold tracking-wider text-lg">(+00) 00000000</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="p-10 md:flex self-center justify-between hidden text-sm">
            <ul class="">
                <li>
                    <a href="#" class="hover:underline">
                        Cantantes
                    </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="hover:underline">
                        Actores
                    </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="hover:underline">
                        Musicos
                    </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="hover:underline">
                        Moda
                    </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="hover:underline">
                        Literatura
                    </a>
                </li>
            </ul>
            <ul class="">                
                <li class="">
                    <a href="#" class="hover:underline">
                        Conciertos
                    </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="hover:underline">
                        Cine
                    </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="hover:underline">
                        Teatro
                    </a>
                </li>
                <li class="mt-2">
                    <a href="#" class="hover:underline">
                        Campañas
                    </a>
                </li>                
            </ul>
        </div>
    </div>
    <div class="border-t border-slate-500">
        <div class="md:flex max-w-[1400px] m-auto px-5 md:justify-between">
            <div class="flex py-5 gap-10 justify-center">
                <a href="#" >
                    <Facebook class="size-8 text-gray-500 hover:text-white transition-all duration-300"></Facebook>
                </a>
                <a href="#" >
                    <Instagram class="size-8 text-gray-500 hover:text-white transition-all duration-300"></Instagram>
                </a>
                <a href="#" >
                    <Twitter class="size-8 text-gray-500 hover:text-white transition-all duration-300"></Twitter>
                </a>
                <a href="#" >
                    <Youtube class="size-8 text-gray-500 hover:text-white transition-all duration-300"></Youtube>
                </a>
            </div>
            
            <div class="py-5">
                <span class="flex text-sm justify-center text-gray-500">Diseñado por<a href="#" class="text-white ms-1">fausto@ariasdev.net.pe</a>.</span>
            </div>
        </div>
        
    </div>
</section>